body {
  background-image: url("bg/palomitas.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  opacity: 1; /* Establece la opacidad del body en 1 */
}
form {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 0px solid;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  color: #ffffff; /* Cambia el color del texto a blanco para que sea visible en la imagen de fondo */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

input[type="submit"]:hover {
  background-color: #ffffff;
}

/* Agrega la siguiente regla para que otros textos también tengan una opacidad de 1 */
h1, h2, h3, p {
  opacity: 1;
}
.signup-link {
  display: block;
  margin-top: 20px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.signup-link:hover {
  color: #690e0e;
}

/* Registro Usuario */

body {
  background-image: url("bg/palomitas.jpg");
  background-size: cover;
  background-position: center;
}
form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 0px solid;
  border-radius: 5px;
  text-align: center;
  opacity: 0.8;
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
}
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: block;
  font-family: 'Roboto', sans-serif;
}
input[type="submit"] {
  background-color: #cb0c0c;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
input[type="submit"]:hover {
  background-color: #690e0e;
}
.login {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}
.login a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.login a:hover {
  color: #690e0e;
}